@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flexCenter {
    @apply flex items-center justify-center;
  }

  .blog-content h1 {
    @apply text-4xl font-bold;
  }
  .blog-content h2 {
    @apply text-2xl font-semibold;
  }
  .blog-content h3 {
    @apply text-xl font-semibold;
  }
  .blog-content h4 {
    @apply text-lg font-normal;
  }
  .blog-content p {
    @apply font-normal;
  }
  .blog-content img {
    @apply w-full;
  }
}

@layer utilities {
  .first-letter-big::first-letter {
    font-size: 2em;
    /* float: left; */
    /* margin-right: 0.2em; */
    font-weight: bold;
  }
}

.hierarchy-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.node {
  margin: 10px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.children {
  display: flex;
  justify-content: center;
  /* border-left: 1px solid #aaa; */
  margin-left: 10px;
}
